section {
  padding: 80px 0;
}
.navbar {
  background: #fff;
  margin-top: 10px;
  top: 0;
  left: 0;
}
.navbar-brand {
  margin-right: 0;
}
.shrink {
  background: #fff;
  transition: 0.5s ease;
  margin: 0px;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,.4);
}
.breadcrumb {
  background-color: transparent;
  padding-left: 0;
}
.breadcrumb li a {
  color: blue;
}
.links li a {
  color: black;
  font-size: 25px;
  opacity: 0.85;
}
.links:hover a {
  opacity: 0.7;
  transition: 0.3s all ease-in;
}
.links li a:hover {
  opacity: 1;
  transition: 0.3s all ease-in;
}