
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

/* HOME */

#home-carousel {
  padding-top: 50px;
}
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#home h2 {
  padding: 15px auto;
  padding-bottom: 15px;
  margin-bottom: 0;
}

/* ENDS HOME */

.portfolio-item {
  margin-bottom: 30px;
}
